!!!
%html{lang: "ja"}
  %head
    %meta{charset: "utf-8"}
  %body
    .left-content
      = render partial: "groups/group_top"
      .left-content__group-list
        - if @groups
          = render partial: "groups/group", collection: @groups
    .right-content
      .right-content__group-name
        .right-content__group-name__content
          .right-content__group-name__content--name
            =@group.name
          .right-content__group-name__content--member
            members:
            - @group.users.each do |user|
              = user.name
        .right-content__group-name--edit
          / %a{href: edit_group_path(@group)}Edit
          =link_to "Edit", edit_group_path(@group)
      .right-content__messages
        = render partial: "messages/message", collection: @messages
      .right-content__post
        = form_for([@group, @message]) do |f|
          .right-content__post__text-area
            =f.text_area :body, class: "right-content__post__text-area--text"
            %a.right-content__post__text-area--pict-icon{:href => "http://www.yahoo.co.jp"}
              %i.fa.fa-file-image-o
          =f.submit "Send", class: " right-content__post__send"